@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0077b6;
}

#interface{
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    text-align: center;
    padding: 2rem 1rem;
    color: white;
}

td{
    width: 100px;
    height: 50px;
    border: 2px solid white;
}

.hidden{
    display: none;
}

.button{
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    border: none;
    background-color: #023e8a;
    color: white;
}

.input-box{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;

}